.browse {
    background-color: var(--black);
    min-height: 100vh;
}

.browse .section {
    padding-top: 60px;
}

.browse {
    background-color: var(--black);
    min-height: 100vh;
}

.browse .section {
    padding: 60px 0px;
}

.browse-inner {
    display: flex;
    flex-direction: column;;
    color: white;
    font-size: var(--fz-lg);
    padding: 0px 50px;
    width: 100%;
}


.browse-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.browse-content .flex-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.flex-container h3{
    font-size: var(--fz-xs);
    margin: 10px;
    margin-left: 0px;
    overflow: hidden;
    max-width: 170px;
    white-space: nowrap;
}

.browse-inner h2 {
    margin: 40px 0px;
}

.flex-container .flex-fill{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 250px;
    max-width: 180px;
}



.flex-container .flex-img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}