.body{
    height: 100%;
}

.create {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: #fff;
    pointer-events: auto;
}

.create .section {
    background-color: var(--black);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    padding: 45px 150px;
    margin: 0 auto;
    width: 100%;
}

.create-container {
    justify-content: center;
    margin-top: 60px;
    background-color:rgba(255, 255, 255, 0.065);
    padding: 3rem 3rem;
    text-align: left;
    min-width: 600px;
}

.create-header {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.create-form {
    margin: 1rem 0;
}

.create-form .create-input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.create-label {
    margin-bottom: 0.3rem;
}

.create-button {
    color: white;
    background-color: var(--accent-color-tint);
    border-radius: 4px;
    border: none;
    padding: 1rem 1rem;
    line-height: 1;
    width: 100%;
    pointer-events: auto;
    user-select: auto;
    cursor: pointer;
    outline: none;
}

.create-button:hover{
    background-color: var(--accent-color);
}

.create-last {
    margin-bottom: 2rem;
}

.choose-game select{
    padding: 0.25rem 0.25rem;
    outline: none;
}
