.home {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #151517;
    line-height: 1.5;
    color: var(--accent-color);
}

.home-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

.home-container .flex-fill {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 120px;
    margin: 0;
}

.home-container .home-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}