.home {
    display: flex;
    flex-direction: column;
    background-color: #151517;
    line-height: 1.5;
    color: var(--accent-color);
}

.home-container {
    margin: 0 auto;
    width: 100%;
}

.home-container .flex-fill {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 100vh;
    margin: 0;
}

.home-container .home-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.background-img {
    width: 100%;
    overflow-x: hidden;
}