.homepage {
    background-color: var(--black);
    min-height: 100vh;
}

.homepage .section {
    padding: 60px 0px;
}

.homepage-inner {
    display: flex;
    flex-direction: column;;
    color: white;
    font-size: var(--fz-lg);
    padding: 0px 50px;
    width: 100%;
}

.homepage-inner h2 {
    margin: 40px 0px;
}

