body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0E0E10;
  --acent-color-dark: #10002B;
  --accent-color: #F04DFE;
  --accent-color-tint: rgba(239, 77, 254, 0.3);
  --accent-color-light: #E0AAFF;
  --fz-xs: 14px;
  --fz-sm: 16px;
  --fz-md: 24px;
  --fz-lg: 32px;
}